---
import BaseHead from "../components/BaseHead.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ServiceCard from "../components/ServiceCard.astro";
import { services } from "../data/services";
---

<!doctype html>
<html lang="en" data-theme="holoseduca">
  <head>
    <BaseHead
      title="Servicios | HolosEduca"
      description="Servicios de HolosEduca"
    />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header />
    <main class="flex-grow container mx-auto px-4 py-8">
      <!-- Header Section -->
      <div class="text-center mb-12" data-aos="fade-down">
        <h1 class="text-4xl font-bold mb-4">ESTRUCTURA METODOLÓGICA FHE</h1>
        <p class="text-xl max-w-3xl mx-auto mb-8 text-base-content/80">
          Programas Educativos, psicosociales y comunitarios llevados a cabo en
          la FUNDACIÓN HOLOSEDUCA orientados al fortalecimiento de las
          competencias socioemocionales, cognitivas y axiológicas en los niños y
          jóvenes.
        </p>
      </div>

      <!-- Services Grid -->
      <div class="grid md:grid-cols-2 gap-8 max-w-5xl mx-auto">
        {
          services.map((service, index) => (
            <ServiceCard
              service={service}
              className={
                index === services.length - 1
                  ? "md:col-span-2 max-w-lg mx-auto"
                  : ""
              }
            />
          ))
        }
      </div>

      <!-- Footer Quote -->
      <div
        class="text-center mt-12 text-xl font-semibold text-base-content/70"
        data-aos="fade-up"
      >
        CAMINO HACIA EL EQUILIBRIO INTEGRAL
      </div>
    </main>
    <CTA />
    <Footer />
  </body>
</html>
