---

---

<div
  class="hero my-16 py-16 rounded-box"
  style="background-image: url(https://images.unsplash.com/photo-1524178232363-1fb2b075b655?q=80&w=2070&auto=format&fit=crop);"
  data-aos="zoom-in-up"
>
  <div class="hero-overlay bg-opacity-80 rounded-box"></div>
  <div class="hero-content text-center text-neutral-content py-12">
    <div class="max-w-xl">
      <h2 class="mb-5 text-base-100 md:text-5xl text-3xl font-bold">
        Únete a Nuestra Misión
      </h2>
      <p class="mb-6 p-4 md:text-lg backdrop-blur-sm rounded">
        Siempre estamos buscando educadores, creadores de contenido y
        voluntarios apasionados que compartan nuestra visión de transformar la
        educación en Colombia. Ya seas maestro, estudiante o alguien que cree en
        el poder de la educación, hay un lugar para ti en nuestra comunidad.
      </p>
      <div class="flex justify-center gap-4">
        <a href="/contact" class="btn btn-primary btn-lg">Contáctanos</a>
      </div>
    </div>
  </div>
</div>
