---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import { Image } from "astro:assets";
---

<div class="drawer">
	<input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content flex flex-col">
		<!-- Navbar -->
		<div class="navbar bg-base-100 shadow md:px-8 p-4">
			<a
				href="/"
				class="flex navbar-start md:navbar-start items-center md:gap-2"
			>
				<Image
					src="/logo.png"
					class="hidden md:block"
					alt="HolosEduca"
					width={100}
					height={100}
				/>
				<Image
					src="/logo.png"
					class="md:hidden rounded-box"
					alt="HolosEduca"
					width={50}
					height={50}
				/>
				<div class="flex flex-col">
					<h3 class="text-2xl pl-2 md:pl-0 font-bold">{SITE_TITLE}</h3>
					<p class="text-sm hidden md:block text-gray-500">
						Camino hacia el equilibrio integral
					</p>
				</div>
			</a>
			<div class="flex-none lg:hidden navbar-end">
				<label
					for="my-drawer-3"
					aria-label="open sidebar"
					class="btn btn-square btn-ghost"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-5 w-5"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16M4 18h7"></path>
					</svg>
				</label>
			</div>

			<div class="navbar-center hidden lg:flex">
				<ul class="menu menu-horizontal px-1 gap-2">
					<li><HeaderLink href="/">Inicio</HeaderLink></li>
					<li><HeaderLink href="/about">Sobre nosotros</HeaderLink></li>
					<li><HeaderLink href="/programs">Programas</HeaderLink></li>
					<li><HeaderLink href="/contact">Contacto</HeaderLink></li>
					<li><HeaderLink href="/blog">Blog</HeaderLink></li>
				</ul>
			</div>

			<div class="navbar-end hidden lg:flex"></div>
		</div>
	</div>

	<!-- Drawer side -->
	<div class="drawer-side">
		<label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"
		></label>
		<ul class="menu p-4 w-80 space-y-4 text-xl min-h-full bg-base-100">
			<Image
				src="/logo.png"
				alt="HolosEduca"
				class="rounded-box"
				width={150}
				height={150}
			/>
			<li><a href="/">Inicio</a></li>
			<li><a href="/about">Sobre nosotros</a></li>
			<li><a href="/programs">Programas</a></li>
			<li><a href="/contact">Contacto</a></li>
			<li><a href="/blog">Blog</a></li>
		</ul>
	</div>
</div>
